.comparisons-table {
  width: 100%;
}

.comparisons-table,
.comparisons-table > tr,
.comparisons-table > tr > th,
.comparisons-table > tr > td {
  border: 1px solid #dddddd;
}

.comparisons-table > tr > th {
  font-size: 14px;
}

.product {
  color: var(--text-primary);
  cursor: pointer;
}

.product:hover {
  text-decoration: underline;
}

.bg-success {
  background: var(--success) !important;
}

.bg-danger {
  background: var(--danger) !important;
}

.bg-warning {
  background: var(--warning) !important;
}
