#landing {
  padding-top: 30px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.heading > h1 {
  font-size: 50px;
  font-weight: 600;
  margin-right: 0.22em;
  color: var(--text-primary);
  cursor: pointer;
}

.heading > h1:hover {
  text-decoration: underline;
  color: #076663;
}

.heading > span {
  cursor: pointer;
}

.heading > span:hover {
  text-decoration: underline;
}

.product-container {
  background: #ffffff;
  width: 65%;
  /* display: flex; */
  /* flex: 0.65; */
  height: auto;
  margin-top: 20px;
  padding: 10px;
}

.product-desc > p > span {
  padding-bottom: 5px;
}

.product-desc > p > img {
  width: 100%;
  height: auto;
}

.accordion-header-custom {
  outline: none !important;
  box-shadow: none !important;
}

.comparisons-table {
  width: 100%;
}

.comparisons-table,
.comparisons-table > tr,
.comparisons-table > tr > th,
.comparisons-table > tr > td {
  border: 1px solid #dddddd;
}

.comparisons-table > tr > th {
  font-size: 14px;
}

.product {
  color: var(--text-primary);
  cursor: pointer;
}

.product:hover {
  text-decoration: underline;
}

.bg-success {
  background: var(--success) !important;
}

.bg-danger {
  background: var(--danger) !important;
}

.bg-warning {
  background: var(--warning) !important;
}

.product-desc > p > a {
  color: var(--text-primary);
  font-style: italic;
  text-decoration: none;
}

.product-desc > p > a:hover {
  color: #076663;
  text-decoration: underline;
}
