.video-player {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.video {
  width: 70%;
}

.img-container {
  display: flex;
  justify-content: center;
}

.img-container > img {
  width: 50%;
  height: auto;
}

.navigate-to-demo {
  color: var(--text-primary);
  font-style: italic;
  text-decoration: none;
  cursor: pointer;
}

.navigate-to-demo:hover {
  color: #076663;
  text-decoration: underline;
}
