#contact {
  padding-top: 30px;
  padding-bottom: 20px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.contact-container {
  background: #ffffff;
}

.contact-heading {
  color: var(--text-primary);
}

.btn-custom {
  background: var(--text-primary);
  color: #ffffff;
}

.btn-custom:hover {
  color: #000000;
  background: inherit;
  box-shadow: none;
}

.logo-img {
  display: flex;
  justify-content: center;
}

.logo-img > img {
  width: 60%;
}

.main-heading {
  color: var(--text-primary);
}

@media (max-width: 767px) {
  .custom-row {
    display: flex;
    flex-direction: column;
  }

  .address {
    margin-top: 10px;
  }
}
