.navbar-custom {
  padding: 0.5% 12%;
  background: #2c3531 !important;
}

.navbar-logo {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  text-decoration: none !important;
}

.navbar-logo > span {
  /* color: var(--text-primary) !important; */
  color: #d1e8e2 !important;
  /* color: #ffcb9a !important; */
}

.navbar-logo > img {
  width: 300px;
  height: auto;
}

.logo {
  width: 25%;
}

.nav-theme {
  background: #101018f8;
  font-size: 20px;
}

.animate-navbar {
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 1s ease-in-out;
}

.navbar-collapse-custom {
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  text-decoration: none !important;
  font-style: normal;
  color: #d1e8e2 !important;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
